<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}
    {{> navbar}}

    <div class="container">
      <h1>Study Buddy</h1>
      <p>Find The Perfect Tutor For Yourself - Your Study Buddy</p>
      <p>Get Started</p>
      {{!-- <a href="/login">Login</a>
      <a href="/signup">Signup</a> --}}
    </div>
</body>
</html> 