<link rel="stylesheet" href="css/index.css">

<div class="container">
  <div class="navbar">
  <img src="https://lh3.googleusercontent.com/Y_6lDxLv39dUxpzKnFyVvZAP1t7gAd6dV5HDC2T-YLzROVUHCf7oplT8omlMvDpmNJmfm8HRe2y3YUoeDvnm7fgUACbDg9DYbpqxrhqilo_xTZxRhpcOBjRsKpttQ8dWJdl-lqy9JbwWA_YOEG8z7wr8zZidvmBSmCYJf1az3MYNnlAUf74ftEwqNg4aVuv7ouUKTKvpuWkS8_EGf_kJF9A3kTQa_6ejqVGmwBYTZiO8E53Wm80bF_LTskYN7E2Ek8RN7GISfYWsO8zVWFIKZOsoXFiJc6LCRSpS4o3LcYycKR3FXEc8AVc4MASusXgGDk_cfPwxSj9MVZvYbVKPrN4pPlOoqfnErdn4hQM4c6s3VQSZrvtq0KMpyaY025TdRimLf4C0NwfguH3zxfUSq-s8xLDh1WoQC27KlmRrY61pTcJrvRQRWq4Yn3lslhkPfFJk71A7XNensHq-IBDP_zSaYrQmSc-HqGpd9AtFGbI66HM_C0Q_idKTPD-V96NgLlJEnTVjgXT95po_ksXiwbwQagYpllKZeNjYkJotStNcplyo8nTT_cXT3LZQsFL6I2Ly5yrf7VsGqAzKQt_3h_rWu9zC7H53-kOhmutLDzIJgDAPjDgURA1Oo5zxu1s5LG3HWOLxZ53Ba3wSV8kjFuLov1KzzIJmAPeXFu5ltSkJ6b56XaqG2RQTO0O7jRu219APVrva-Do25bbwFN8YV8phEFtY8MCSuO7VtjjtecLU9evb8-RffDTAGHCB-Vd7o4UbqFHOmSiWKH4PuFGwJtFvqGA2p41vLoObaD2QkaTOGA8eYeLSRzAGbcc5LGMx8Av0RNkrxljn1EqAEemzB23kZkqTf4PZ6G1pJ87NJFYS3Vgx3DuhN2-I3NfkT3bhHtBC4zxWYZS54T_5tee_SqugaMkQfjpyoo3k9P8tu9aj=w931-h237-s-no?authuser=0" alt="Image description" class="logo">
  <img src="https://lh3.googleusercontent.com/x8akGZyO-NZx0Fj-oyrDX5Lg21fpcQzAVHWnhc0ooR1I_Htl38p3AY3gVy0mp-FHyv05iijCltfRPRsTwNmroW-Kqsnz3dsjq5oAAUWV9GX_0X5anhXEUsEhANTkyJ70V4w0r-gMG_pyuE6IJWUjLTNqRGREAAVOGHpir6qIA2NjZNB_r7Bxx5ogkBg3n3WpmrMR5Kd0FVbbCg5hk9aUEbORWfK15VRnXh8bt_RCGHxJJRQZbODcRSrurO04efoz7wAlyvMhYMNVVRP5NxlzPZhzvRuyj_UzDVyn1_G1gwD03SrDJYTMS6PS7N3wzUJXvwwoMjoSsddxJqY1NKCTV0Wnj74dW-GZcf9ZXNaiHDWBKDYWsjWyBlrKXymvWTfxOb7h8fAyLE8ZhFOAgQZegKRUDXhhIRLXfFFZwVxWSOgKLFZsk3E97-1P4mlEQE1KmK7W52oLpSuRDfgDcDAVdkxVyjbDEHmnvZp57T2l1vjtRL95QItkk6xGiXBtY-e5Zdkr0evULL6sPbndwrUNIvbEup8S7V5fJdsZeYiXWGNCzVYoLlEFOmyNYSoA8a0lTY48JVIqOQUTemlYLUykkpxT5oA-SgUx5T_kKBflm7ale3x8uFtjerRPa3bcQmcZbDUV7KvD2Ru5vGdWVBNkvlUo9-TQ7YmUiHkDdfmmDrAzeFxvu8qk3eSa49NvoGlqs_dgYsIuhGvXh8u5PnILSP89X0hJ8fb7mZizKI50AJcbpgH-vGVxonUAXKjjqHI0F0m2qcpKSf3QO2FAfIbhNHfpxnqJ5ONRz_aA0oqz4p_m7bay2ng_6ZD-jO3dYt6wt_AboaDAfkCYuL8rgsVn-4wHMgRgjbiw6LNeKDdIAyPat5b7jxNmNxZ3EI9j1ncVzUsmAPwSfAsAqQr15JuhhePyU3sE8RLewJLTXqybkMU3=w645-h591-s-no?authuser=0" alt="Image description" class="screen">



  <h1>Find The Perfect Tutor For Yourself - </h1>
  <p1>Your Study Buddy</p1>
  <a href="/signup_follow" class="button3">Get Started</a>

  <a href="/login" class="button1">Log in</a>
  <a href="/signup_follow" class="button2">Sign up</a>
</div>