<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}
    {{!-- {{> navbar_student}} --}}
    {{#if userTypeIsStudent}}
        {{> navbar_student}}
    {{else if userTypeIsTutor}}
        {{> navbar_tutor}}
    {{else if userTypeIsAdmin}}
        {{> navbar_admin}}
    {{/if}}

    <div class="container">
        <h1>Settings</h1>
        <a href="/update_password">Update Password</a><br>
        {{!-- <a href="/">Signout</a><br> --}}
        <a href="#" onclick="signOut()">Signout</a><br
    </div>

    <script>
        function signOut() {
            if (confirm("Are you sure you want to sign out?")) {
                window.location.href = "/";
            }
        }
    </script>

</body>
</html>