<!-- signup.hbs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Signup | My App</title>
  </head>
  <body>
    {{> header}}
    {{> navbar}}

    <div class="container">
      <h1>Signup</h1>
      <form action="/signup_tutor" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <label for="photo">Profile photo:</label>
          <input type="file" id="photo" name="photo" accept="image/*">
        </div>
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>